{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
	<link rel="stylesheet" href="{% static 'css/normalise.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <section class="loginform cf">
        <p> You just banned {{ ban_list|join:", " }}</p>
        <!--
        <form action="{% url 'profile' %}" method="post">{% csrf_token %}
			<button type="submit" method="post">Back to profile</button>
		</form>
		-->
        <form action="{% url 'back_to_login' %}" method="post">{% csrf_token %}
			<button type="submit" method="post">Logout</button>
		</form>

	</section>

</body>
</html>

