{% extends "html/base_profile.html" %}

{% block title %}Sticker admin profile{% endblock %}

{% block content %}
           <input type="checkbox" name="checks[]" value="stickermarket/"> StickerMarket<br>
           <input type="checkbox" name="checks[]" value="official/desktop/" > Official Desktop<br>
           <input type="checkbox" name="checks[]" value="emoticon/"> Emoticon<br>
           <input type="checkbox" name="checks[]" value="ringLightEmoticon/"> Ring Light Emoticon  <br>
           <input type="checkbox" name="checks[]" value="chatbg/"> Chat Background  <br>
{% endblock %}
